[submodule "plugins/project-tree"]
	path = plugins/project-tree
	url = git@github.com:sergioia-dev/project-tree-nvim.git
[submodule "plugins/net_picker"]
	path = plugins/net_picker
	url = git@github.com:sergioia-dev/net_picker.git
[submodule "plugins/code-helper"]
	path = plugins/code-helper
	url = git@github.com:sergioia-dev/code-helper-nvim.git
